
  <h2 class="panel-heading" style="margin-top: 0; color: teal; height: 140px; overflow: hidden;">{{ product.name | uppercase }}</h2>
  <div class="panel-body list-group" style="padding: 0;">
    <p  class="list-group-item" >
       <span style="font-size: 1.5em; display: block; text-align: center;">{{ product.price | currency }}</span> 
       <span class="badge" style="background-color: red;" *ngIf="product.promoted">{{ promotion }}</span> 
    </p>
    <a href="#" target="_blank"><img src="{{product.imageUrl}}" style="height: 200px; width: 298px;"></a>
  </div>
  
<!-- <p class="panel-footer" style="margin-bottom: 0;">{{ product.description }}</p> -->